@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.rail {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  width: auto;
  height: auto;
}

